body{
    font-family: 'dance', serif;
    background-color: white;
    }

.nav-link {
 position: relative;
 left: 900px;
    font-size: 40px;
    padding: 10px 10px 10px 10px;
    }

.navbar-brand {
    text-align: center;
    font-size: 40px;
    padding: 10px 10px 10px 10px;
    }

.text {
    position: relative;
    left: 100px;
    top: 50px;
}
.main-title{
    width: 100%;
    margin: 10px auto;
    color: black;
    padding:15px;
    font-size: 60px;
}

.opisanie{
    width: 100%;
    margin: 10px auto;
    margin-bottom: 100px;
    background: white;
    color: black;
    padding:15px;
    font-size: 30px;
}

.cake-wrap {
    width: 1000px;
    margin: 40px auto;
    background: white;
    padding:25px;
    text-align: center;
    font-size: 40px;
    position: relative;
    bottom: 500px;
    left: 700px;
    }

.cake {
    position: relative;
    overflow: hidden;
display: flex;
max-width: 500px;
max-height: 500px;
    }

 .cake img {
 object-fit: cover;
 width: 600px
 }

  footer {
    text-align: center;
    font-size: 30px;
    border:  solid black;
    }


.bottom-links {
text-align: center;
padding: 50px 100px 50px 50px;
}

a:hover {
  border-bottom: 1px solid;
  background: #DCDCDC;
}





